/* Navbar Styles */
nav {
    background-color: #f4c742; /* Google Blue */
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 15px;
  }
  
  /* NavLink Styles */
  NavLink {
    text-decoration: none;
    color: #fff; /* White text */
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  NavLink:hover {
    color: #ffd700; /* Gold on hover */
  }
  
  /* Active NavLink Styles */
  NavLink.active {
    color: #ffd700; /* Gold for active link */
  }
  